* {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}

:root {
	--neon-green-color: #39ff14;
	--kelly-green-color: #4cbb17;
	--e-green-color: #334e3b;
	--red-color: rgb(255, 49, 49);
	--blue-color: #5ce1e6;
}

body {
	background-color: #f5f7fa;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 100px;
	background-color: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.container .left-side {
	position: relative;
	background-color: #2e3238;
	color: #fff;
	border-radius: 10px;
	padding: 40px;
}

.personals {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	/* border-bottom: 1px solid #000; */
}

.personals .img-box {
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 50%;
	margin: 10px;
	border: 10px solid transparent;
	outline: 1px solid var(--blue-color);
}

.personals .img-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-box:hover {
	animation: pulse 1s;
}

.personals h2 {
	display: none;
	color: #fff;
	font-size: 1.5em;
	margin-top: 20px;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.personals h2 span {
	font-size: 0.8em;
	font-weight: 300;
}

.contacts {
	padding-top: 40px;
}

.title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.contacts ul {
	position: relative;
}

.contacts ul li {
	position: relative;
	list-style: none;
	list-style-position: inside;
	margin: 10px 0;
}
.contacts .contacts-list .contacts-item::before {
	content: none;
}
.contacts ul li::before {
	content: "\2022";
	margin-right: 8px;
	color: var(--blue-color);
	font-size: 18px;
}

.contacts ul li .icon {
	display: inline-block;
	width: 30px;
	font-size: 18px;
}

.contacts-link {
	opacity: 0.6;
	color: #ffffff;
	text-decoration: none;
}

.contacts-link:hover {
	opacity: 1;
	text-decoration: underline;
}

.widget-box {
	margin: 60px 0 20px 0;
	height: 60px;
}

.widget-box .widget {
	display: flex;
	justify-content: center;
	align-items: center;
}

.widget-link {
	cursor: pointer;
	color: #fff;
	background-color: var(--blue-color);
	padding-top: 20px;
	padding-right: 43px;
	padding-bottom: 20px;
	padding-left: 43px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0px 0px 13px 1px var(--blue-color);
	border-radius: 10px;
}

.widget-link:hover {
	box-shadow: 0px 6px 32px 1px var(--blue-color);
}

.widget:hover {
	animation: pulse 1s;
}

.container .right-side {
	position: relative;
	background-color: #fff;
	padding: 40px;
}

.about {
	margin-bottom: 50px;
}

.about:last-child {
	margin-bottom: 0;
}

.bio-title {
	font-size: 35px;
	line-height: 2;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.bio-occupation {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #828282;
	font-weight: bold;
}

.title2 {
	color: #2a2a2a;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

p {
	color: #595959;
	text-align: justify;
}

.projects ul {
	list-style: none;
}

.projects i {
	color: var(--blue-color);
}

.projects-link {
	cursor: pointer;
	color: #2a2a2a;
	font-size: 14px;
	line-height: 24px;
}

.projects-link:hover {
	color: var(--blue-color);
}

.about .box {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.about .box .year-company {
	min-width: 200px;
}

.about .box .year-company h5 {
	text-transform: uppercase;
	color: #828282;
	font-weight: 600;
}

.about .box .text h4 {
	text-transform: uppercase;
	color: var(--blue-color);
	font-size: 16px;
}

.about .box .text h4 i {
	padding: 0 10px;
}

.about .dots {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about .dots-hover {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.dots i {
	margin: 10px 0;
}

.more-exp {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.more-exp p {
	font-style: italic;
}

.education-title {
	color: #2a2a2a;
	font-size: 22px;
	line-height: 1.091;
}

.education-degree {
	text-transform: uppercase;
	color: #828282;
	font-size: 16px;
	line-height: 1.5;
}

.education-time {
	color: #828282;
	font-size: 12px;
	line-height: 2;
}

@media (max-width: 1000px) {
	.container {
		margin: 10px;
		grid-template-columns: repeat(1, 1fr);
	}

	.personals h2 {
		display: block;
	}

	.bio-right {
		display: none;
	}

	.personals .img-box {
		-webkit-border-radius: 50%;
	}
}

@media (max-width: 600px) {
	.about .box {
		flex-direction: column;
	}

	.about .box .year-company {
		margin-bottom: 5px;
	}
}
